<h1><%= @f1_team.name %></h1>

<p> Maximum Output Horsepower: <%= @f1_team.horsepower %></p>
<p> Slick Tires: <%= @f1_team.slick_tires %></p>
<p> Number of Drivers: <%= @f1_team.f1_driver_count %></p>
<%= link_to 'F1 Team Drivers', "/f1_teams/#{@f1_team.id}/f1_drivers" %>
<%= link_to 'Update F1 Team', "/f1_teams/#{@f1_team.id}/edit" %>