<% @f1_drivers.each do |driver|%>
  <h1><%= @f1_team.name %>: <%= driver.name %></h1>
  <p>Driver Weight: <%= driver.weight %></p>
  <p>World Champion: <%= driver.world_champion %></p>
<% end %>
  <%= link_to 'Create new F1 Driver', "/f1_teams/#{@f1_team.id}/f1_drivers/new" %>
